#01. DATA SOURCE

# Our data source is Kagal.com 

#1- Type of source: external data source
#2- data collection methods: Administrative data
#3- content: the data describes information about factors affecting the establishment of different types of restaurant at different places in Bengaluru.
our goal is to prepare an anlaysis by studing differetn varibales such as: 
• Location of the restaurant
• Approx Price of food
• Theme based restaurant or not
• Which locality of that city serves that cuisines with maximum 
 number of restaurants
• The needs of people who are striving to get the best cuisine  of the neighborhood
• Is a particular neighborhood famous for its own kind of food.


#I chose the Zomato Bangalore Restaurants data set mainly because I work in the Gastronomy sector for the time being and I my plan is to try and find 
a type of data analysis job where I can make use of my experience in the gastronomy field

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# DEFINING THE PATH

Path  = r'/Users/ghalebju/Desktop/Data Analysis Format/part 6/Zomato rest/Zomato Bangalore Restaurants analysis”/02 Data'

In [3]:
# IMPORTING DATA FRAME

df = pd.read_csv(os.path.join (Path,'original Data','zomato.csv'))

In [4]:
#exploring data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [5]:
#exploring data set
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [6]:
#dropping column "url"
df = df.drop(columns = ['url'])

In [7]:
##exploring variables data type
df.dtypes

address                        object
name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
phone                          object
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)    object
reviews_list                   object
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

In [8]:
#counting "nan" values in column "approx_cost"
(df['approx_cost(for two people)']=='nan').sum()

0

In [9]:
#dropping Nan values
df = df.dropna()

In [10]:
#deleting the comma from "approx_cost (for two people)" variable
df['approx_cost(for two people)']=df['approx_cost(for two people)'].str.replace(',','')

In [11]:
#changing data type for column "approx_cost"
df['approx_cost(for two people)'] = df['approx_cost(for two people)'].astype('int64')

In [12]:
#checking result
df.dtypes

address                        object
name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
phone                          object
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)     int64
reviews_list                   object
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

In [13]:
#basic statistical calculations for quantitative variables
df.describe()

              votes  approx_cost(for two people)
count  23193.000000                 23193.000000
mean     601.074462                   755.904368
std     1114.854301                   521.448320
min        0.000000                    40.000000
25%      101.000000                   400.000000
50%      221.000000                   600.000000
75%      586.000000                  1000.000000
max    16832.000000                  6000.000000

In [14]:
#deleting the "/5" from values in column "rate"
df['rate']=df['rate'].str.replace('/5','')

In [15]:
df.head()

,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [16]:
#replacing the "." with "," for values in ccolumn "rate"
df['rate']=df['rate'].str.replace('.',',')

/var/folders/s5/185t061116b37123q55fx3hc0000gn/T/ipykernel_59783/59339219.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['rate']=df['rate'].str.replace('.',',')

In [17]:
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

In [18]:
#cheecking for missing values
df.isnull().sum()

address                        0
name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
phone                          0
location                       0
rest_type                      0
dish_liked                     0
cuisines                       0
approx_cost(for two people)    0
reviews_list                   0
menu_item                      0
listed_in(type)                0
listed_in(city)                0
dtype: int64

In [19]:
#NO MISSING VALUES

In [20]:
#exploting number of rows before duplicates
df.shape

(23193, 16)

In [21]:
#creating subset with only dupliates
df_dups = df[df.duplicated()]

In [22]:
df_dups

,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
9464,"744, 13th Main, 7th Cross, BTM 2nd Stage, BTM,...",Vyanjan,Yes,No,"3,9",201,+91 9916937446,BTM,Quick Bites,"Poha, Jalebi, Paratha, Bhindi Masala, Kachori,...","North Indian, Street Food",300,"[('Rated 3.0', ""RATED\n Nice place, it's for ...","['Jeera Rice', 'Khichdi', 'Plain Tawa Roti', '...",Delivery,BTM
9466,"607, First Floor, 80 Feet Road, 6th Block, Kor...",Carrots,Yes,Yes,"4,1",600,080 41172812,Koramangala 6th Block,Casual Dining,"Pizza, Pasta, Salads, Masala Chai, Soya Butter...","Italian, North Indian, Healthy Food, Desserts",1100,"[('Rated 5.0', ""RATED\n It's the first vegan ...",[],Delivery,BTM
9468,"6th Cross Road, Koramangala 6th Block, Bangalore",Rolls & Co,Yes,No,"3,9",213,+91 7353848635,Koramangala 6th Block,Quick Bites,"Rolls, Chicken Wings, Shawarma, Chicken Tikka ...","Burger, Beverages, Rolls",400,"[('Rated 2.0', 'RATED\n Order : Peri Peri Fri...",[],Delivery,BTM
13442,"Opposite Velankani Gate number 2, Doddathoguru...",Lassi Adda,Yes,No,"4,0",65,+91 9164247999\r\n+91 9986382545,Electronic City,Beverage Shop,"Sweet Lassi, Corn Sandwich","Beverages, Sandwich, Fast Food",200,"[('Rated 4.0', 'RATED\n My favourite go to pl...",[],Delivery,Electronic City
20236,"746, 7th cross, 13th Main, BTM, Bangalore",Funky Punjab,Yes,No,"3,8",125,+91 8884449474,BTM,Quick Bites,"Roti, Dal Makhani, Lassi, Panneer Butter Masal...","North Indian, Chinese",400,"[('Rated 3.0', ""RATED\n Wasn't as great as we...",[],Delivery,Jayanagar
37692,"Ashraya Hotel, 149, Infantry Road, Bangalore",The Oriental Spice - Ashraya Hotel,Yes,No,"3,9",158,080 41148989\n+91 7795612130,Infantry Road,Casual Dining,"Noodles, Lunch Buffet, Fish, Manchurian, Salad...","Chinese, Thai, Indonesian",1300,"[('Rated 4.0', 'RATED\n Had been there for a ...","['Sour Pepper Soup', 'Chicken Cantonese Style'...",Buffet,Lavelle Road
38585,"Level 2, The Collection, UB City, Vithal Mally...",Rasovara,Yes,Yes,"4,3",772,080 41738968\n+91 9886060965,Lavelle Road,Casual Dining,"Thali, Aamras, Malpua, Dal Bati, Lassi, Plain ...","Rajasthani, North Indian",1400,"[('Rated 4.0', 'RATED\n The problem here is a...",[],Dine-out,Lavelle Road
42343,"Money Chambers Double Road, Shanti Nagar, Bang...",Red Onion,Yes,Yes,"4,2",570,080 40918141\n+91 8867785004,Shanti Nagar,Casual Dining,"Fish, Dumplings, Biryani, Paneer Tikka Masala,...","Chinese, North Indian, Biryani, Kebab",1200,"[('Rated 5.0', 'RATED\n Was wandering around ...","['Paneer Makhani', 'Hyderabadi Biryani', 'Spec...",Delivery,MG Road
43354,"36, Vittal Mallya Road, Lavelle Road, Bangalore",Bootlegger,No,No,"4,1",1545,+91 8022290099\n+91 8041462747,Lavelle Road,Pub,"Beer, Cocktails, Beef Steak, Beef Chilli, Nach...","Continental, Steak",1200,"[('Rated 2.0', 'RATED\n Bootlegger is undoubt...",[],Dine-out,MG Road
43369,"Chancery Pavilion, 135, Residency Road, Bangalore",Ithaca - The Chancery Pavilion,No,Yes,"3,9",312,+91 9902785566,Residency Road,Fine Dining,"Salads, Sunday Brunch, Cocktails, Watermelon J...","North Indian, Italian, European, Continental",2000,"[('Rated 3.0', 'RATED\n The food was good\nTh...",[],Dine-out,MG Road

In [23]:
df_dups.shape

(10, 16)

In [24]:
#deleting duplicates
df_clean = df.drop_duplicates()

In [25]:
#checking result by comparing number of rows before and after deleting duplicates
df_clean.shape

(23183, 16)

2.data profile

Missing values: 0 missing values
Duplicaes: there were 10 duplicates (all deleted)
data type: the data type of the variable "approx_cost(for two people)" was changed from STRING to INTEGER
dropping columns: the column that represents the variable "Url" was deeting because it is not important for our analysis.
limitations:

the last update of the data was 4 years ago. "from the source"

3.Key Questions

Is there a correlation between the approximate cost and number of votes?

Does the approximate cost change from one locationto another?

What is the relationship between restaurant rating and number of votes?

In [26]:
df_clean.to_csv(os.path.join(Path,'Prepared Data', 'Zomato_clean'))